<h1>POLITIBRO</h1>
<br>
<h2> Feel free to post your own toxic memes and be sure to insult other users! </h2>
<br>
<h2>Here are some of our freshest memes:</h2>

 <% if flash[:alert] %>
    <% flash[:alert] %>
<% end %>

<%= link_to "Create a meme", new_meme_path, method: :get %>

<div class="container">
    <div class="row">
        <% @memes.each do |meme| %> 
            <div class="col-3">
            <div class="card" style="width: 18rem;">
            <%= link_to image_tag(meme.title, :border => 'margin: 20px'), meme_path(meme.id), :class => 'card' %>
            <div class="card-body">
                <p class="card-text"><%= meme.description %> </p>
            </div>
            </div>
            </div>
        <% end %>
    </div>
</div>