<h1>POLITIBRO</h1>
<br>
<h2> Feel free to post your own toxic memes and be sure to insult other users! </h2>
<br>
<h2>Here are some of our freshest memes:</h2>

 <% if flash[:alert] %>
    <% flash[:alert] %>
<% end %>

<%= link_to "Create a meme", new_meme_path, method: :get %>



<div class="container">
    <div class="row">
        <% @memes.each do |meme| %> 
            <div class="col-3">
            <div class="card" style="width: 18rem;">
            <img src= '<%=meme.title%>' class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text"><%= meme.description %> </p>
            </div>
            </div>
            <!--<%= link_to(image_tag(meme.title, {:style => 'max-width: 250px; max-height: 250px; margin-bottom: 20px;'}), meme_path(meme.id))%> -->
            </div>
        <% end %>
    </div>
</div>
