<h1> Welcome to Politibro, <%= current_user.username %>! </h1>
<br>
<h2> Feel free to post your own toxic memes and be sure to insult other users! </h2>
<br>
<h2>Here are some of our freshest memes:</h2>

 <% if flash[:alert] %>
    <% flash[:alert] %>
<% end %>

<%= link_to "Create a meme", new_meme_path, method: :get %>




<ul>
    <% @memes.each do |meme| %> 
    <li><%= link_to(image_tag(meme.title), meme_path(meme.id))%></li>
    <% end %>
</ul>

<%= button_to "Sign Out", destroy_user_session_path, method: :delete, data: {confirm: "Are you sure you want to sign out?"} %>
